@model JxdUnionPayMemberViewModel  
@{
    Layout = null;
    ViewData["Title"] = "会员卡支付";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width">
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=yes">
    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/css/memberpay.css">
</head>
<body class="bj">
    <div class="pay-container">
        <h2 class="pay-title">会员卡支付</h2>
        @{
            using (Html.BeginForm())
            {
                <div class="pay-text">
                    <span class="pay-catalog">支付项目：</span>
                    <p>@Model.OrderTitle</p>
                </div>
                <div class="pay-text">
                    <span class="pay-catalog">待支付费用：</span>
                    <em class="pay-price">@Model.PayFee</em>
                </div>
                <div class="pay-text">
                    <span class="pay-catalog">会员卡余额：</span>
                    <em class="pay-price">@Model.MemberBalance</em>
                </div>
                <span class="pay-catalog">会员卡密码：</span>
                @Html.PasswordFor(w => w.CardPassword, new { @class = "pay-password" })
                <div class="pay-btn" id="submit">确定支付</div>
                <a href="@Model.WxPayUrl" style="display:block;margin-top:10px;" class="pay-btn">直接微信支付</a>
            }

        }

    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/js/public.js"></script>
    <script>
          $(function () {
            $("#submit").click(function (e) {
                e.preventDefault();
                var cardPassword = $("#CardPassword").val();
                if (!cardPassword) {
                    alert("请输入支付密码");
                    return;
                }
                $('#submit').attr("disabled","disabled");
                $.post("@Url.Action("MemberPay")", { cardPassword: cardPassword, memberId: "@Model.MemberId", orderId: "@Model.OrderId" }, function (data) {
                    if (data.success) {
                        alert("支付成功");
                    } else {
                        alert(data.data);
                        $('#submit').removeAttr("disabled");
                    }
                }, "json");
            });
        });
    </script>
</body>
</html>