@model JxdUnionPayMemberViewModel  
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>确认支付</title>
    <meta name="viewport" content="width=device-width">
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=yes">
    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/css/jxdUnionPay.css">
</head>
<body class="bj">
@using (Html.BeginForm())
{
    <div class="content">
        <div class="pay-header">
            <div class="pay-order">
                我的订单
            </div>
            <div class="pay-project">
                <div class="project-name"><span>支付项目：</span><p>@Model.OrderTitle</p></div>
                <em class="project-price"><span>￥</span>@Model.PayFee</em>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="pay-content">
            <div class="pay-mode-title">
                支付方式
            </div>
            <div class="pay-mode">
                <div class="pay-code">
                    <div class="pay-left" id="memberCardSelect">
                        <div class="pay-img">
                            <img src="~/images/code.png" alt="">
                        </div>
                        @Html.HiddenFor(m=>m.MemberId)
                        <span class="code-name">@Model.MemberInfos[0].CardTypeName</span>
                        <p class="code-num">@Model.MemberInfos[0].CardNo</p>
                        <em class="code-price">￥@Model.MemberInfos[0].Balance</em>
                        <b class="bottom"></b>

                        <div class="code-more" style="display: none;">
                            @foreach (var memberInfo in Model.MemberInfos)
                            {
                            <div class="code-list" data-member-id="@memberInfo.Id">
                                <div class="pay-img">
                                    <img src="~/images/code.png" alt="">
                                </div>
                                <span>@memberInfo.CardTypeName</span>
                                <p>@memberInfo.CardNo</p>
                                <em>￥@memberInfo.Balance</em>
                            </div>
                            }
                        </div>
                    </div>
                    <input type="radio" name="payMode" id="member">
                </div>
                <label class="pay-code">
                    <div class="pay-left">
                        <div class="pay-img">
                            <img src="~/images/wx.png" alt="">
                        </div>
                        <span>微信</span>
                    </div>
                    <input type="radio" name="payMode" checked="checked">
                </label>
            </div>
        </div>
    </div>
    <div class="shade" style="display: none;">
        <div class="password">
            <p>请输入密码：</p>
             @Html.PasswordFor(w => w.CardPassword)
            <div class="password-btn">
                <div class="cancel">返回</div>
                <input type="submit" value="确定" id="submitCardPassword">
            </div>
        </div>
    </div>
    <div class="pay-btn">
        <input type="submit" value="确定" id="submit">
    </div>
}
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/js/public.js"></script>
<script>
    $(function () {
        $('#memberCardSelect').click(function (e) {
            e.preventDefault();
            $('.code-more').slideToggle();
        });
        $('.code-list').click(function (e) {
            e.preventDefault();
            var codeName = $(this).find('span').text();
            var codeNum = $(this).find('p').text();
            var codePrice = $(this).find('em').text();
            var memberId = $(this).data("member-id");
            $('.code-name').text(codeName);
            $('.code-num').text(codeNum);
            $('.code-price').text(codePrice);
            $('#MemberId').val(memberId);
            $("#member").prop("checked", "checked");

        });
        $('#submit').click(function (e) {
            e.preventDefault();
            if ($('#member').is(':checked')) {
                $('#CardPassword').val('');
                $('.code-more:visible').slideToggle();
                $('.shade').show();
                $('#CardPassword').focus();
                return false;
            } else {
                var wxPayUrl = "@Model.WxPayUrl";
                location.href = wxPayUrl;
            }
        });
        $('#submitCardPassword').click(function (e) {
            e.preventDefault();
            doMemberPay();
        });
        $('.cancel').click(function () {
            $('.shade').hide();
        })
        function doMemberPay() {
            var cardPassword = $("#CardPassword").val();
            if (!cardPassword) {
                alert("请输入支付密码");
                return;
            }
            var MemberId = $("#MemberId").val();
            if (!MemberId) {
                alert("请先选择会员卡");
                return;
            }
            $('#submitCardPassword').attr("disabled", "disabled");
            $.post("@Url.Action("MemberPay")", { cardPassword: cardPassword, memberId:MemberId, orderId: "@Model.OrderId" }, function (data) {
                if (data.success) {
                    $('.shade').hide();
                    alert("支付成功");
                } else {
                    alert(data.data);
                    $('#submitCardPassword').removeAttr("disabled");
                }
            }, "json");
        }
    })
</script>
</body>
</html>